<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agregamos los estilos de Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
    <title>Registar inmueble</title>
    </head>
    <body class="bg-gray-200">
        <%- include('includes/navbar'); %>
        <div class="container mx-auto py-8">
            <h1 class="text-3xl font-bold mb-8">Formulario</h1>
            <div class="max-w-md mx-auto bg-white rounded-md overflow-hidden shadow-md px-8 py-6">
                <!-- Inicio del primer form -->
                <form id="formCasa" action="/alta/cuerpoCasa/<%=idInmueble%>" onsubmit="enviarFormulario(e)" method="POST">
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2">
                        Nombre
                        </label>
                        <input id="name" type="text" name="name" placeholder="Nombre" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2">
                        Descripcion
                        </label>
                        <input id="desc" type="text" name="desc" placeholder="Descripción" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2">
                        Tipo de Movimiento
                        </label>
                        <input id="tipoMovimiento" type="text" name="tipoMovimiento" placeholder="Tipo de Movimiento" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2">
                        Precio
                        </label>
                        <input id="precio" type="text" name="precio" placeholder="Precio" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">            </div>
                    <!-- <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2">
                        Coordenadas X
                        </label>
                        <input id="coordX" type="text" name="coordX" placeholder="Coordenadas en X" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">            </div>
                    </div> 
                    <div class="mb-4">
                        <label class="block text-gray-700 font-bold mb-2">
                        Coordenadas Y
                        </label>
                        <input id="coordY" type="text" name="coordY" placeholder="Coordenadas en Y" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">            </div>
                    </div> -->
                    <div class="mb-4">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Enviar
                        </button>
                    </div>
                </form>
                <!-- Final del primer form -->
            </div>
        </div>

        <script>
            function enviarFormulario(e){
                e.preventDefault();
            }
        </script>

    </body>
</html>