<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Catálogo de productos</title>
        <!-- Enlazar con el archivo de estilos de Tailwind -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>

        <%- include('includes/navbar'); %>

        <main class="container mx-auto my-8">

            <h2 class="text-2xl font-bold mb-4">Buscar productos</h2>
            <form class="mb-4">
                <div class="flex items-center">
                    <label for="searchText" class="mr-4">Buscar:</label>
                    <input type="text" id="searchText" name="searchText" value="" class="border border-gray-400 px-4 py-2 rounded-lg w-64" placeholder="Ingresa tu búsqueda...">
                    <button type="button" onclick="redirigir()" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg ml-4">Buscar</button>
                </div>
            </form>

            <h2 class="text-2xl font-bold mb-4">Productos destacados</h2>
            <% if (inmuebles.length > 0) { %>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <% inmuebles.forEach(inmueble => { %>
                        <%- include('cardsHomepage/genericCard', {data: inmueble}); %>
                    <% }) %>
                </div>
            <% } else { %>
                <p class="text-center text-lg font-bold">No hay ningún inmueble por el momento</p>
            <% } %>
        </main>

        <%- include('includes/footer'); %>

        <script>
            function redirigir(){
                var valorTextBox = document.getElementById("searchText").value;
                var nuevaUrl = "http://localhost:3000/buscar/" + valorTextBox;
                window.location.href = nuevaUrl;
            }
        </script>

    </body>

</html>