<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Catálogo de productos</title>
        <!-- Enlazar con el archivo de estilos de Tailwind -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>

        <header class="bg-gray-800 text-white py-4">
            <div class="container mx-auto flex justify-between items-center px-4">
                <h1 class="text-lg font-bold">Mi Tienda</h1>
                <nav>
                    <ul class="flex space-x-4">
                        <li><a href="#" class="hover:text-gray-300">Inicio</a></li>
                        <li><a href="#" class="hover:text-gray-300">Productos</a></li>
                        <li><a href="#" class="hover:text-gray-300">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="container mx-auto my-8">
            <h2 class="text-2xl font-bold mb-4">Productos destacados</h2>
            <% if (inmuebles.length > 0) { %>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                    <% inmuebles.forEach(inmueble => { %>
                    <div class="bg-white rounded-lg shadow-md">
                        <img src="<%=inmueble.img %>" alt="<%= inmueble.nombre %>" class="w-full h-64 object-cover rounded-t-lg">
                        <div class="p-4">
                            <h3 class="text-lg font-bold mb-2"><%= inmueble.nombre %></h3>
                            <p class="mb-2">$<%= inmueble.precio.toFixed(2) %></p>
                            <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg">Ver detalle del inmueble</button>
                        </div>
                    </div>
                    <% }) %>
                </div>
            <% } else { %>
                <p class="text-center text-lg font-bold">No hay ningún inmueble por el momento</p>
            <% } %>
        </main>

        <footer class="bg-gray-900 text-white py-4">
            <div class="container mx-auto px-4">
                <p class="text-center">&copy; 2022 Mi Tienda. Todos los derechos reservados.</p>
            </div>
        </footer>

    </body>

</html>